{% load static %}
<header class="header d-blue-bg" style="background-color: #2b0b7e">
    <div class="header-top">
        <div class="container">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <div class="header-inner-start">
                             <div class="header__currency border-right">
                                <div class="s-name">
                                    <span>Language: </span>
                                </div>
                                <select>
                                    <option>English</option>
                                    <option>Deutsch</option>
                                    <option>Français</option>
                                    <option>Espanol</option>
                                </select>
                            </div>
                            <div class="header__lang border-right">
                                <div class="s-name">
                                    <span>Currency: </span>
                                </div>
                                <select>
                                    <option> USD</option>
                                    <option>EUR</option>
                                    <option>INR</option>
                                    <option>BDT</option>
                                    <option>BGD</option>
                                </select>
                            </div> 
                            <!-- <div class="support d-none d-sm-block">
                                <p>Need Help? <a href="tel:+001123456789">+91 98947 09871 </a></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                        <div class="header-inner-end text-md-end">
                            <div class="ovic-menu-wrapper">
                                <ul>
                                    <li><a href="">About Us</a></li>
                                     <!-- <li><a href="contact.html">Order Tracking</a></li>  -->
                                     <li><a href="tel:+001123456789">Need Help? : +91 98947 09871 </a></li> 
                                     <li><a href="/logout/">LogOut </a></li> 
                                         <!-- <li><a href="index_Restaurant.html">indexs</a></li>  -->
                                 </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="header-mid">
        <div class="container">
            <div class="heade-mid-inner">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                        <div class="header__info">
                            <div class="logo">
                                <a href="/user_logged_index/{{my_data.uid}}" class="logo-image"><img src="{% static 'images/tun_foods.png' %}" class="rounded mx-auto d-block" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="header__search">
                            <form action="#">
                                <div class="header__search-box">
                                    <input class="search-input" type="text" placeholder="I'm shopping for...">
                                    <button class="button" type="submit"><i class="far fa-search"></i></button>
                                </div>
                                <div class="header__search-cat">
                                    <select>
                                        <option>All Categories</option>
                                        <option>Restaurants</option>
                                        <option>Grocery</option>
                                        <option>Furits & Vegitables </option>
                                        <option>Food Products</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                        <div class="header-action">
                            <div class="block-userlink">
                                <a class="icon-link" href="/user_logged_my_account/{{my_data.uid}}">
                                <i class="fas fa-user-alt"></i>
                                <span class="text">
                                <span class="sub">{{my_data.name}} </span>
                                My Account </span>
                                </a>
                            </div>
                            <div class="block-wishlist action">
                                <a class="icon-link" href="/wishlist/{{my_data.uid}}">
                                <i class="fa fa-heart"></i>
                                <span class="count">{{wishlist|length}}</span>
                                <span class="text">
                                <span class="sub">Favorite</span>
                                My Wishlist </span>
                                </a>
                            </div>
                            <div class="block-cart action">
                                <a class="icon-link" href="/cart/{{my_data.uid}}">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="count">{{cart|length}}</span>
                                <span class="text">
                                <span class="sub">Your Cart:</span>
                                &#x20b9;{{text}}.00 </span>
                                </a>
                                <div class="cart">
                                    <!-- <div class="cart__mini">
                                        <ul>
                                            <li>
                                              <div class="cart__title">
                                                <h4>Your Cart</h4>
                                                <span>(1 Item in Cart)</span>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="cart__item d-flex justify-content-between align-items-center">
                                                <div class="cart__inner d-flex">
                                                  <div class="cart__thumb">
                                                    <a href="">
                                                      <img src="{% static 'images/20.jpg' %}" alt="">
                                                    </a>
                                                  </div>
                                                  <div class="cart__details">
                                                    <h6><a href=""> Samsung C49J89: £875, Debenhams Plus  </a></h6>
                                                    <div class="cart__price">
                                                      <span>&#x20b9;255.00</span>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="cart__del">
                                                    <a href="#"><i class="fal fa-times"></i></a>
                                                </div>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="cart__sub d-flex justify-content-between align-items-center">
                                                <h6>Subtotal</h6>
                                                <span class="cart__sub-total">&#x20b9;255.00</span>
                                              </div>
                                            </li>
                                            <li>
                                                <a href="/cart/{{my_data.uid}}" class="wc-cart mb-10">View cart</a>
                                                <a href="/checkout/{{my_data.uid}}" class="wc-checkout">Checkout</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row g-0 align-items-center" style="background-color: #3a10a6;">
                <div class="col-lg-3">                        
                    <div class="cat__menu-wrapper side-border d-none d-lg-block">
                        <div class="cat-toggle">
                            <button type="button" class=" cat-toggle-btn-1" style="background-color: #ffc107;color: black;"><i class="fal fa-bars"></i> Shop by Categories</button>
                            <!-- cat-toggle-btn -->
                            <div class="cat__menu">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li><a href="/user_logged_index/{{my_data.uid}}">Shop by Categories</a></li>
                                        <li><a href="/user_logged_index/{{my_data.uid}}">RESTAURANTS</a></li>
                                        <li><a href="/Grocery/{{my_data.uid}}">GROCERY </a></li>
                                        <li><a href="/fruits_vegetables/{{my_data.uid}}">FRUITS AND VEGETABLES</a></li>
                                        <li><a href="/Grocery/{{my_data.uid}}">FOOD PRODUCTS</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-3">
                  <div class="header__bottom-left d-flex d-xl-block align-items-center">
                    <div class="side-menu d-lg-none mr-20">
                      <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                    </div>
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul>
                                
                                <li><a href="/user_logged_index/{{my_data.uid}}">RESTAURANTS</a></li>
                                <li><a href="/Grocery/{{my_data.uid}}">GROCERY </a></li>
                                <li><a href="/fruits_vegetables/{{my_data.uid}}">FRUITS AND VEGETABLES</a></li>
                                <li><a href="/Grocery/{{my_data.uid}}">FOOD PRODUCTS</a></li>
                                <li style="float: right;"><a href="/user_order_status/{{my_data.uid}}" style="color:#ffc107;border: 1px solid white;width: 90px;text-align: center;text-shadow: 5 6 black;box-shadow: 0px 0px 3px white;">Orders</a></li>
                            </ul>
                        </nav>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-9">
                    <!-- <div class="shopeing-text text-sm-end">
                        <p>Spend &#x20b9;120 more and get free shipping!</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>
